<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
        />
        <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
        ></script>
        <title>Document</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Navbar</a>
            <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="/"
                    >Home <span class="sr-only">(current)</span></a
                >
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/user">User</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>
    <div class="container mt-4">
        <a href="/user/create" class="btn btn-primary mb-3"> + Tambah </a>
        <table class="table table-default table-bordered">
            <thead>
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Created At</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>

            {{ range .users }}
                <tr>
                    <td>{{ .Name}}</td>
                    <td>{{ .Email }}</td>
                    <td>{{ .CreatedAt }}</td>
                    <td>
                        <a href="/user/edit?id={{ .Id}}" class="btn btn-warning"> Edit </a>
                        <a href="/user/delete?id={{ .Id}}" class="btn btn-danger" onclick="return confirm('Are you sure?')"> Hapus </a>
                    </td>
                </tr>
            {{ end }}
            </tbody>
        </table>
        </div>
    </body>
</html>
